@font-face {
    font-family: 'Nohemi';
    src: url('./fonts/Nohemi-Regular.ttf') format('truetype');
}

html {
    background-color: #252525;
    
}

p {
    padding-left: 60px;
    padding-top: 32px;
    font-family: 'Nohemi', sans-serif;
    color: #de3c4b;
    font-size: 48px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    width: 100%;
    color: #de3c4b;
    font-family: 'Nohemi', sans-serif;
    font-size: 16px;
    padding: 20px 60px;
}

.please-read-my-article {
    margin-top: -20px;
    bottom: 0;
    font-size: 36px;
    font-family: 'Nohemi', sans-serif;
    color: #ededf4;
}

.read-something {
    display: flex;
    justify-content: right;
    font-size: 16px;
    font-family: 'Nohemi', sans-serif;
    color: #de3c4b;
    padding-left: 60px;
    background-color: #ededf4;
    border-radius: 16px;

}