@font-face {
    font-family: 'Nohemi';
    src: url('./fonts/Nohemi-Regular.ttf') format('truetype');
}

html {
    background-color: #252525;
    
}

p {
    padding-left: 60px;
    padding-top: 32px;
    font-family: 'Nohemi', sans-serif;
    color: #de3c4b;
    font-size: 48px;
}

footer {
    text-align: left;
    bottom: 0;
    width: 100%;
    color: #de3c4b;
    font-size: 16px;
    font-family: 'Nohemi', sans-serif;
}